<app-auth-card title="Mot de passe oublié">
  @let forgotPassword = forgotPassword$ | async;
  <p class="mt-1.5">Réinitialisez votre mot de passe un lien de réinitialisation vous sera envoyé.</p>
  <form class="mt-8" [formGroup]="forgotPasswordForm">
    <mat-form-field class="w-full">
      <mat-label> Adresse e-mail </mat-label>
      <input id="email" type="email" matInput autocomplete="email" [formControlName]="'email'" />
    </mat-form-field>

    <div class="inline-flex w-full items-center justify-between">
      Mot de passe?
      <a class="text-md font-medium text-primary-500 hover:underline" [routerLink]="['/sign-in']"> Connectez-vous </a>
    </div>
    <button
      class="mt-6 w-full"
      mat-flat-button
      [disabled]="forgotPassword?.isLoading || forgotPasswordForm.invalid"
      (click)="submitForgotPassword()">
      @if (!forgotPassword?.isLoading && !forgotPasswordForm.invalid) {
        <span> Réinitialisation </span>
      }
      @if (forgotPassword?.isLoading) {
        <mat-progress-spinner class="text-white" [diameter]="24" [mode]="'indeterminate'" />
      }
    </button>
  </form>
</app-auth-card>
