<app-auth-card
  title="Mot de passe oublié"
  description="Réinitialisez votre mot de passe et accéder à votre compte et continuer à explorer notre plateforme.">
  @let result = forgotPassword$ | async;
  @if (result?.error) {
    <app-alert class="mt-6 w-full" appearance="soft" type="error" [@shake]="true">
      {{ result.error }}
    </app-alert>
  }
  @if (result?.isSuccess) {
    <app-alert class="mt-6 w-full" appearance="soft" type="success" [@shake]="true">
      Le lien de réinitialisation de mot de passe a été envoyé à votre adresse e-mail.
    </app-alert>
  }

  <div [ngClass]="(result?.error || result?.isSuccess) && 'transition-transform translate-y-4 duration-150'">
    <h2 class="text-3xl font-extrabold leading-tight tracking-tight font-satoshi">Mot de passe oublié</h2>
    <p class="mt-1.5">Réinitialisez votre mot de passe un lien de réinitialisation vous sera envoyé.</p>
    <form class="mt-8" [formGroup]="forgotPasswordForm">
      <mat-form-field class="w-full">
        <mat-label>Adresse e-mail</mat-label>
        <input id="email" type="email" matInput autocomplete="email" [formControlName]="'email'" />
      </mat-form-field>

      <div class="inline-flex w-full items-center justify-between">
        Mot de passe?
        <a class="text-md font-medium text-primary-500 hover:underline" [routerLink]="['/sign-in']"> Connectez-vous </a>
      </div>
      <button
        class="mt-6 w-full"
        mat-flat-button
        [disabled]="result?.isLoading || forgotPasswordForm.invalid"
        (click)="submitForgotPassword()">
        @if (!result?.isLoading && !forgotPasswordForm.invalid) {
          <span>Réinitialisation</span>
        }
        @if (result?.isLoading) {
          <mat-progress-spinner class="text-white" [diameter]="24" [mode]="'indeterminate'" />
        }
      </button>
    </form>
  </div>
</app-auth-card>
