<section>
  @let res = ventures$ | async;

  <a
    routerLink="/ventures/add"
    class="bg-primary-600 inline-flex items-center gap-1.5 text-white px-6 py-2 mb-8 hover:bg-primary-800 transition-colors duration-300 rounded-md">
    <mat-icon [svgIcon]="'add_business'" class="icon-size-4" />
    ajouter une entreprise
  </a>

  @if (res.data?.length) {
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
      @for (v of res.data; track v.id) {
        <app-venture-card [venture]="v" />
      }
    </div>
  }

  @if (res.error || !res.data?.length) {
    <h2 class="text-2xl font-semibold">Pas de projets</h2>
  }
</section>
