@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  html {
    @apply scroll-smooth hyphens-auto;
  }

  ::selection {
    @apply text-white bg-primary-600;
  }

  .pg .ngx-pagination .current {
    @apply bg-primary-500 bg-opacity-70 rounded-sm m-0 px-2 py-0.5;
  }
  .pg .ngx-pagination a {
    @apply bg-gray-200/40 text-gray-700 mx-1 shadow-sm shadow-gray-300 bg-opacity-70 rounded-sm m-0 px-2 py-0.5;
  }

  :root {
    ::-webkit-scrollbar {
      width: 10px;
      height: 10px;
      background-color: rgba(0, 0, 0, 0);
    }

    ::-webkit-scrollbar:hover {
      width: 10px;
      height: 10px;
      background-color: rgba(0, 0, 0, 0.06);
    }

    ::-webkit-scrollbar-thumb {
      border: 2px solid transparent;
      border-radius: 20px;
      box-shadow: inset 0 0 0 20px rgba(0, 0, 0, 0.24);
    }

    ::-webkit-scrollbar-thumb:active {
      border-radius: 20px;
      box-shadow: inset 0 0 0 20px rgba(0, 0, 0, 0.37);
    }
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .nav-btn {
    @apply transition-transform duration-200 hover:scale-110 rounded-full flex flex-col items-center justify-center h-10 w-10 text-white bg-secondary-700 shadow-md;
  }

  @keyframes fadeInUp {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, 1rem, 0);
      transform: translate3d(0, 1rem, 0);
    }

    100% {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }

  .animate-fadeInUp {
    animation: fadeInUp 300ms ease-in-out;
  }
}
