@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  html {
    @apply scroll-smooth hyphens-auto;
  }

  ::selection {
    @apply text-white bg-primary-600;
  }

  .pg .ngx-pagination .current {
    @apply bg-primary-700 mr-1.5 text-sm inline-flex font-bold rounded-full items-center justify-center h-8 w-8;
  }
  .pg .ngx-pagination a {
    @apply bg-white border text-sm border-primary-700 mr-1.5 inline-flex font-medium rounded-full items-center justify-center h-8 w-8 hover:bg-primary-700 hover:text-white transition-colors duration-300;
  }

  :root {
    ::-webkit-scrollbar {
      width: 10px;
      height: 10px;
      background-color: rgba(0, 0, 0, 0);
    }

    ::-webkit-scrollbar:hover {
      width: 10px;
      height: 10px;
      background-color: rgba(0, 0, 0, 0.06);
    }

    ::-webkit-scrollbar-thumb {
      border: 2px solid transparent;
      border-radius: 20px;
      box-shadow: inset 0 0 0 20px rgba(0, 0, 0, 0.24);
    }

    ::-webkit-scrollbar-thumb:active {
      border-radius: 20px;
      box-shadow: inset 0 0 0 20px rgba(0, 0, 0, 0.37);
    }
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  @keyframes fadeInUp {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, 1rem, 0);
      transform: translate(0, 1rem, 0);
    }

    100% {
      opacity: 1;
      -webkit-transform: translate(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }

  .animate-fadeIn {
    animation: fadeInUp 300ms ease-in;
  }
}
