@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth hyphens-auto;
  }

  ::selection {
    @apply text-white bg-primary-600;
  }

  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: rgba(0, 0, 0, 0);
  }

  ::-webkit-scrollbar:hover {
    width: 10px;
    height: 10px;
    background-color: rgba(0, 0, 0, 0.06);
  }

  ::-webkit-scrollbar-thumb {
    border: 2px solid transparent;
    border-radius: 20px;
    box-shadow: inset 0 0 0 20px rgba(0, 0, 0, 0.24);
  }

  ::-webkit-scrollbar-thumb:active {
    border-radius: 20px;
    box-shadow: inset 0 0 0 20px rgba(0, 0, 0, 0.37);
  }
}

@layer components {
  .pg {
    .ngx-pagination {
      .current {
        @apply bg-primary-700 mr-1.5 text-sm inline-flex font-bold rounded-full items-center justify-center h-9 w-9;
      }
      a {
        @apply bg-white border text-sm border-primary-700 mr-1.5 inline-flex font-medium rounded-full items-center justify-center h-9 w-9 hover:bg-primary-700 hover:text-white transition-colors duration-300;
      }
    }
  }

  .primary-btn {
    @apply flex items-center px-6 py-1.5 text-white text-sm font-medium rounded-md hover:bg-primary-700/80 transition-colors duration-300 gap-2 bg-primary-600;
  }

  .table-simple {
    @apply text-left table-auto min-w-max overflow-x-scroll text-gray-700 bg-white shadow-md rounded-lg w-full;
    thead {
      th {
        @apply py-3 px-6 border-b border-slate-300 bg-slate-50;
        p {
          @apply block text-sm font-normal leading-none text-slate-500;
        }
      }
    }
    tbody {
      tr {
        @apply hover:bg-slate-50 border-b border-slate-200;
        td {
          @apply py-3 px-6;
          p {
            @apply text-sm text-slate-800;
          }
        }
      }
    }
  }
}
