<div class="grid grid-cols-1 lg:grid-cols-2">
  <div class="flex flex-col items-center justify-center min-h-screen">
    <div class="w-3/6">
      <h2 class="text-3xl font-semibold font-satoshi">
        {{ title() }}
      </h2>
      <ng-content />
    </div>
  </div>
  <div class="hidden fixed md:block right-0 w-1/2">
    <div
      class="relative min-h-screen items-center justify-center overflow-hidden p-16 md:flex lg:px-28 bg-[url('/images/auth.webp')] bg-center bg-cover bg-no-repeat">
      <div class="absolute top-0 bottom-0 left-0 right-0 bg-secondary-800/30"></div>
    </div>
  </div>
</div>
