<header class="navbar fixed w-full top-0 py-3 bg-white shadow-sm z-20 font-satoshi">
  @let user = user$ | async;
  @let result = logout$ | async;
  <nav class="flex items-center justify-between lg:flex px-8 md:px-28 2xl:px-36">
    <a routerLink="/" aria-label="logo" class="inline-block">
      <img ngSrc="images/logo/logo-g.png" alt="logo" class="w-6 h-7 cursor-pointer" width="64" height="68" priority />
    </a>

    <!-- Mobile Nav -->
    <div class="lg:hidden">
      <button (click)="isOpen() ? closeMenu() : openMenu()">
        <mat-icon [svgIcon]="isOpen() ? 'mat_outline:close' : 'mat_outline:menu'" class="icon-size-5 text-gray-700" />
      </button>

      <div
        class="fixed top-10 left-0 right-10 bottom-0 bg-white backdrop-blur-lg transition-transform duration-300 {{
          isOpen() ? 'translate-x-0' : '-translate-x-full'
        }}">
        <div class="flex flex-col justify-between py-16 px-10 h-full">
          <div class="flex flex-col gap-6 font-bold text-xl">
            @for (tab of ['Parcourir', 'My cinolu']; track $index) {
              <button class="flex items-center justify-between" (click)="setActiveTab(tab)">
                {{ tab }}
                <mat-icon svgIcon="mat_outline:keyboard_arrow_down" class="icon-size-5 text-gray-700" />
              </button>
            }
          </div>

          @if (user) {
            <div class="flex flex-col gap-8">
              @if (user && hasRequiredRole(user)) {
                <a [href]="accUrl" target="_blank" class="flex items-center gap-2.5">
                  <img
                    [src]="user | apiIMG: 'user'"
                    class="rounded-full w-7 h-7 object-cover ring-2 ring-secondary-800 ring-offset-1"
                    alt="profile picture" />
                  Dashboard
                </a>
              } @else {
                <a [routerLink]="'/me'" class="flex items-center gap-2.5">
                  <img
                    [src]="user | apiIMG: 'user'"
                    class="rounded-full w-7 h-7 object-cover ring-2 ring-secondary-800 ring-offset-1"
                    alt="profile picture" />
                  Mon compte
                </a>
              }
              <button
                class="flex items-center text-white justify-center text-center px-6 py-2 bg-red-800 rounded-sm hover:bg-red-900 disabled:bg-red-800/30 transition-colors duration-300 gap-1.5 font-medium text-base"
                (click)="signOut()"
                [disabled]="result?.isLoading">
                Se déconnecter
              </button>
            </div>
          } @else {
            <a
              routerLink="/sign-in"
              class="flex items-center justify-center text-white px-6 py-2 bg-secondary-600 rounded-sm hover:bg-secondary-700 transition-colors duration-300 gap-1.5 font-medium text-base">
              Se connecter
            </a>
          }
        </div>
      </div>

      <ul
        class="fixed text-base top-10 left-0 right-8 bottom-0 bg-white backdrop-blur-lg z-30 transition-transform duration-300 {{
          activeTab() && isOpen() ? 'translate-x-0 ' : '-translate-x-full'
        }}">
        <div class="flex flex-col gap-7 font-medium py-16 px-10 h-full">
          <button class="font-semibold text-gray-800 flex items-center gap-1 m-4" (click)="setActiveTab(null)">
            <mat-icon svgIcon="mat_outline:keyboard_arrow_left" class="icon-size-4" />
            Go back
          </button>

          @for (link of getLinks(activeTab()); track $index) {
            <a [routerLink]="link.path" [fragment]="link.fragment" class="flex items-center gap-2.5">
              <span class="h-8 w-8 flex items-center justify-center bg-secondary-600 rounded-full">
                <mat-icon [svgIcon]="link.icon" class="icon-size-4 text-white" />
              </span>
              <p class="flex flex-col gap-0.5 font-medium">
                {{ link.name }}
                <span class="description text-gray-700 text-sm">{{ link.description }}</span>
              </p>
            </a>
          }
        </div>
      </ul>
    </div>

    <!-- Desktop nav -->
    <div class="hidden lg:flex justify-between w-2/3">
      <div class="flex items-center gap-6 xl:text-lg font-medium">
        @for (tab of ['Parcourir', 'My cinolu']; track $index) {
          <button class="relative flex items-center gap-0.5" (click)="setActiveTab(tab)">
            <span class="uppercase text-sm font-semibold">{{ tab }}</span>
            <mat-icon [svgIcon]="'mat_outline:keyboard_arrow_down'" class="icon-size-6 text-gray-700" />
            <div
              class="absolute top-9 w-[30rem] animate-fadeInUp py-8 px-6 gap-6 text-start font-normal z-30 bg-white shadow-md transition-transform duration-300"
              [ngClass]="activeTab() === tab ? 'block ' : 'hidden'">
              <div class="grid grid-cols-2 gap-x-8 gap-y-6 xl:text-base">
                @for (link of getLinks(activeTab()); track $index) {
                  <a [routerLink]="link.path" [fragment]="link.fragment" class="flex items-center gap-2.5">
                    <span class="h-8 w-8 flex items-center justify-center bg-secondary-600 rounded-full">
                      <mat-icon [svgIcon]="link.icon" class="icon-size-4 text-white" />
                    </span>
                    <p class="flex flex-col gap-0.5 font-medium">
                      {{ link.name }}
                      <span class="description text-gray-700 text-sm">{{ link.description }}</span>
                    </p>
                  </a>
                }
              </div>
            </div>
          </button>
        }

        <button class="relative flex items-center gap-0.5" (click)="setActiveTab('language')">
          <span class="uppercase text-sm font-semibold">Langues</span>
          <mat-icon svgIcon="mat_outline:keyboard_arrow_down" class="icon-size-6 text-gray-700" />
          <div
            class="absolute top-9 w-[10rem] left-0 animate-fadeInUp py-8 px-6 gap-6 text-start font-normal z-30 bg-white shadow-md transition-transform duration-300"
            [ngClass]="activeTab() === 'language' ? 'block ' : 'hidden'">
            <div class="grid grid-cols-1 gap-x-8 gap-y-6 xl:text-base font-medium">
              <button class="flex items-center gap-3" (click)="switchLanguage('fr')">
                <img src="/images/flags/fr.png" class="w-6 h-6" alt="Englend picture" />
                Francais
              </button>
              <button class="flex items-center gap-3" (click)="switchLanguage('en')">
                <img src="/images/flags/en.png" class="w-6 h-6 object-cover" alt="Englend picture" />
                English
              </button>
              <button class="flex items-center gap-3" (click)="switchLanguage('sw')">
                <img src="/images/flags/rdc.png" class="w-4 h-4 object-cover" alt="Englend picture" />
                Swahili
              </button>
            </div>
          </div>
        </button>
      </div>

      @if (user) {
        <div class="flex items-center gap-3">
          <button class="relative flex items-center gap-2" (click)="setActiveTab('account')">
            <img
              [src]="user | apiIMG: 'user'"
              class="rounded-full w-7 h-7 object-cover ring-2 ring-secondary-800 ring-offset-1"
              alt="profile picture" />
            <mat-icon svgIcon="mat_outline:keyboard_arrow_down" class="icon-size-6 text-gray-700" />
            <div
              class="absolute top-9 w-[18rem] right-0 animate-fadeInUp py-8 px-6 gap-6 text-start font-normal z-30 bg-white shadow-md transition-transform duration-300"
              [ngClass]="activeTab() === 'account' ? 'block ' : 'hidden'">
              <div class="grid grid-cols-1 gap-x-8 gap-y-6 xl:text-base font-medium">
                @if (user && hasRequiredRole(user)) {
                  <a [href]="accUrl" target="_blank" class="flex items-center gap-2.5">
                    <span class="h-8 w-8 flex items-center justify-center bg-secondary-600 rounded-full">
                      <mat-icon [svgIcon]="'dashboard'" class="icon-size-4 text-white" />
                    </span>
                    Dashboard
                  </a>
                } @else {
                  <a [routerLink]="'/me'" class="flex items-center gap-2.5">
                    <span class="h-8 w-8 flex items-center justify-center bg-secondary-600 rounded-full">
                      <mat-icon [svgIcon]="'dashboard'" class="icon-size-4 text-white" />
                    </span>
                    Mon compte
                  </a>
                }
                <button class="flex items-center gap-2.5" (click)="signOut()" [disabled]="result?.isLoading">
                  <span class="h-8 w-8 flex items-center justify-center bg-secondary-600 rounded-full">
                    <mat-icon [svgIcon]="'mat_solid:logout'" class="icon-size-4 text-white" />
                  </span>
                  Se déconnecter
                </button>
              </div>
            </div>
          </button>
        </div>
      } @else {
        <a
          routerLink="/sign-in"
          class="flex items-center text-white px-6 py-2 bg-secondary-600 rounded-sm hover:bg-secondary-700 transition-colors duration-300 gap-1.5 font-medium text-sm">
          Se connecter
        </a>
      }
    </div>
  </nav>
</header>
