<div class="mb-20 px-8 mx-auto max-w-screen-lg md:px-0 mt-24">
  @let user = user$ | async;
  @let update = update$ | async;
  <div class="flex flex-col md:flex-row md:items-center md:gap-6 gap-5 mb-12" *ngIf="user">
    <div class="relative h-20 w-20">
      <img [ngSrc]="user | apiIMG: 'user'" class="rounded-full object-cover" [alt]="user.name" fill priority />
      <button
        type="button"
        (click)="file.click()"
        class="absolute bg-gray-100 rounded-full shadow-lg -bottom-2 text-primary-700 h-10 w-10 flex items-center justify-center right-0">
        @if (update?.isLoading) {
          <mat-progress-spinner [diameter]="24" [mode]="'indeterminate'" />
        } @else {
          <mat-icon class="icon-size-4" svgIcon="heroicons_outline:camera" />
        }
        <input
          id="thumb"
          name="thumb"
          type="file"
          class="hidden"
          accept="image/*"
          (change)="onImageChange($event)"
          #file />
      </button>
    </div>
    <div class="flex flex-col">
      <h5 class="font-semibold text-lg">{{ user.name }}</h5>
      <p class="font-medium text-gray-600">
        Inscrit le <span class="font-semibold text-gray-950">{{ user.created_at | date: 'longDate' }}</span>
      </p>
    </div>
  </div>

  <div class="mb-10">
    <div class="flex items-center gap-2.5 mb-2">
      <div class="bg-primary-900 rounded-full p-1 flex flex-col items-center justify-center">
        <mat-icon svgIcon="mat_solid:settings" class="icon-size-4 text-white" />
      </div>
      <h1 class="text-xl font-semibold">Mon compte</h1>
    </div>
    <p class="font-medium">Veillez à enregistrer vos modifications après chaque mise à jour</p>
  </div>

  <app-update-info [user]="user" class="mb-10" />
  <app-update-password />
</div>
