<div class="mb-20 px-8 mx-auto max-w-screen-lg md:px-0 mt-24">
  @let user = user$ | async;
  @let update = update$ | async;
  <div class="flex flex-col md:flex-row md:items-center md:gap-6 gap-5 mb-12" *ngIf="user">
    <div class="relative h-20 w-20">
      <img [ngSrc]="user | apiIMG: 'user'" class="rounded-full object-cover" [alt]="user.name" fill priority />
      <button
        type="button"
        (click)="file.click()"
        class="absolute bg-gray-100 rounded-full shadow-lg -bottom-2 text-primary-700 h-10 w-10 flex items-center justify-center right-0">
        @if (update?.isLoading) {
          <mat-progress-spinner [diameter]="24" [mode]="'indeterminate'" />
        } @else {
          <mat-icon class="icon-size-4" svgIcon="heroicons_outline:camera" />
        }
        <input
          id="thumb"
          name="thumb"
          type="file"
          class="hidden"
          accept="image/*"
          (change)="onImageChange($event)"
          #file />
      </button>
    </div>
    <div class="flex flex-col">
      <h5 class="font-semibold text-lg">{{ user.name }}</h5>
      <p class="font-medium text-gray-600">
        Inscrit le <span class="font-semibold text-gray-950">{{ user.created_at | date: 'longDate' }}</span>
      </p>
    </div>
  </div>

  <div class="mb-4">
    <div class="flex items-center gap-2.5 mb-2">
      <div class="bg-primary-900 rounded-full p-1 flex flex-col items-center justify-center">
        <mat-icon svgIcon="mat_solid:settings" class="icon-size-4 text-white" />
      </div>
      <h1 class="text-xl font-semibold">Mon compte</h1>
    </div>
    <p class="font-medium">Veillez à enregistrer vos modifications après chaque mise à jour</p>
  </div>

  <div class="py-5">
    <div
      class="flex items-center gap-7 font-medium border-b text-nowrap border-primary-300 mb-10 no-scrollbar overflow-x-scroll">
      @for (tab of tabs; track $index) {
        <button
          [ngClass]="activeTab() === tab.key && 'border-b border-primary-700 text-primary-700'"
          class="py-2 disabled:text-gray-500 disabled:cursor-not-allowed flex items-center gap-1.5"
          (click)="setActiveTab(tab.key)"
          [disabled]="tab.disabled">
          <mat-icon [svgIcon]="tab.icon" class="icon-size-4" />
          {{ tab.name }}
        </button>
      }
    </div>
    <div class="w-full min-h-[60vh]">
      @if (!activeTab()) {
        <app-user-ventures />
      }
      @if (activeTab() === 'my-informations') {
        <app-update-info [user]="user" />
      }
      @if (activeTab() === 'security') {
        <app-update-password />
      }
    </div>
  </div>
</div>
