<div>
  @let cashiers = cashiers$ | async;
  @let add = add$ | async;
  @if (add?.isSuccess) {
    {{ closeModal() }}
  }
  <form class="mt-6" (ngSubmit)="onAdd()" [formGroup]="addForm">
    <mat-form-field class="w-full">
      <mat-label>Nom</mat-label>
      <input id="name" type="email" matInput [formControlName]="'name'" />
    </mat-form-field>

    <mat-form-field class="w-full">
      <mat-label>Montant</mat-label>
      <input id="balance" type="number" matInput [formControlName]="'balance'" />
    </mat-form-field>

    <mat-form-field class="w-full">
      <mat-label>Caissier</mat-label>
      <mat-select formControlName="cashier">
        @for (cashier of cashiers?.data; track $index) {
          <mat-option [value]="cashier.id">
            {{ cashier.name }}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>
    <div class="flex items-center gap-3 justify-self-end">
      <button
        type="button"
        class="bg-red-600 px-6 py-1.5 text-white text-sm font-medium rounded-md hover:bg-red-700/80 transition-colors duration-300"
        (click)="closeModal()">
        Fermer
      </button>
      <button
        [disabled]="addForm.invalid"
        type="submit"
        class="bg-primary-600 px-6 py-1.5 text-white text-sm font-medium rounded-md hover:bg-primary-700/80 transition-colors duration-300 disabled:bg-primary-700/40 disabled:cursor-not-allowed">
        @if (!add?.isLoading) {
          Ajouter
        }
        @if (add?.isLoading) {
          Ajout...
        }
      </button>
    </div>
  </form>
</div>
