<form [formGroup]="form" (ngSubmit)="updateInfo()" class="grid grid-cols-1 md:grid-cols-2 gap-x-6">
  @let result = update$ | async;

  @if (result?.[0].error) {
    <app-alert class="mb-6 w-2/3" type="error" [showIcon]="true" [@shake]="true">
      {{ result?.[0].error }}
    </app-alert>
  }

  @if (result?.[1].error) {
    <app-alert class="mb-6 w-2/3" type="error" [showIcon]="true" [@shake]="true">
      {{ result?.[1].error }}
    </app-alert>
  }

  <div formGroupName="info" class="flex flex-col gap-1.5">
    <mat-form-field class="w-full">
      <mat-label>Nom complet</mat-label>
      <input type="text" autocomplete="off" name="name" matInput [formControlName]="'name'" />
    </mat-form-field>

    <mat-form-field class="w-full">
      <mat-label>E-mail</mat-label>
      <input type="text" autocomplete="off" name="email" matInput [formControlName]="'email'" />
    </mat-form-field>

    <mat-form-field class="w-full">
      <mat-label>Numéro téléphonique</mat-label>
      <input type="text" autocomplete="off" name="phone_number" matInput [formControlName]="'phone_number'" />
    </mat-form-field>

    <mat-form-field class="w-full">
      <mat-label>Adresse</mat-label>
      <input autocomplete="off" type="text" name="address" matInput [formControlName]="'address'" />
    </mat-form-field>
  </div>

  <div formGroupName="details">
    <mat-form-field class="w-full">
      <mat-label>Bio</mat-label>
      <textarea matInput rows="6" [formControlName]="'bio'"> </textarea>
    </mat-form-field>

    <mat-form-field class="w-full">
      <mat-label>LinkedIn</mat-label>
      <input matInput [formControlName]="'linkedin'" />
    </mat-form-field>

    <mat-form-field class="w-full">
      <mat-label>Facebook</mat-label>
      <input matInput [formControlName]="'facebook'" />
    </mat-form-field>
  </div>

  <div class="w-full mt-6 md:w-2/4">
    <button
      class="w-full text-white"
      mat-flat-button
      color="primary"
      type="submit"
      [disabled]="form.invalid || result?.[0].isLoading || result?.[1].isLoading">
      @if (!form.invalid && !result?.[0].isLoading && !result?.[1].isLoading) {
        <span> Mettre à jour</span>
      }
      @if (result?.[0].isLoading || result?.[1].isLoading) {
        <mat-progress-spinner [diameter]="24" [mode]="'indeterminate'" />
      }
    </button>
  </div>
</form>
