<div class="">
  @let cashboxes = cashboxes$ | async;
  @if (cashboxes?.data) {
    <h3 class="text-lg font-semibold text-slate-800">Les caisses</h3>
    <p class="text-slate-500 mb-8">
      Voici une liste des caisses enregistrés dans le système, vous pouvez les modifier ou les supprimer
    </p>
    <div
      class="relative flex flex-col w-full h-full overflow-scroll text-gray-700 bg-white shadow-md rounded-lg bg-clip-border">
      <table class="w-full text-left table-auto min-w-max">
        <thead>
          <tr>
            <th class="p-4 border-b border-slate-300 bg-slate-50">
              <p class="block text-sm font-normal leading-none text-slate-500">Nom</p>
            </th>
            <th class="p-4 border-b border-slate-300 bg-slate-50">
              <p class="block text-sm font-normal leading-none text-slate-500">Solde</p>
            </th>
            <th class="p-4 border-b border-slate-300 bg-slate-50">
              <p class="block text-sm font-normal leading-none text-slate-500">Manager</p>
            </th>
            <th class="p-4 border-b border-slate-300 bg-slate-50">
              <p class="block text-sm font-normal leading-none text-slate-500">Creéé le</p>
            </th>
          </tr>
        </thead>
        <tbody>
          @for (cashbox of cashboxes.data; track cashbox.id) {
            <tr class="hover:bg-slate-50">
              <td class="p-4 border-b border-slate-200">
                <p class="block text-sm text-slate-800">{{ cashbox.name }}</p>
              </td>
              <td class="p-4 border-b border-slate-200">
                <p class="block text-sm text-slate-800">{{ cashbox.balance }}</p>
              </td>
              <td class="p-4 border-b border-slate-200">
                <p class="block text-sm text-slate-800">{{ cashbox.manager.name }}</p>
              </td>

              <td class="p-4 border-b border-slate-200">
                <p class="block text-sm text-slate-800">{{ cashbox.created_at | date: 'longDate' }}</p>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
