<div>
  @let delete = delete$ | async;
  @if (delete?.error) {
    <app-alert class="w-full mb-2" type="error" [showIcon]="true" [@shake]="true">
      {{ delete.error }}
    </app-alert>
  }
  @if (delete?.isSuccess) {
    {{ closeModal() }}
  }

  <div class="flex flex-col items-center justify-center mb-4 px-6">
    <h2 class="font-semibold text-xl">Voulez-vous vraiment supprimer {{ cashbox['name'] }} ?</h2>
  </div>

  <div class="flex items-center gap-3 justify-self-center">
    <button
      type="button"
      class="bg-red-600 px-6 py-1.5 text-white text-sm font-medium rounded-md hover:bg-red-700/80 transition-colors duration-300"
      (click)="closeModal()">
      Fermer
    </button>
    <button
      type="submit"
      class="bg-primary-600 px-6 py-1.5 text-white text-sm font-medium rounded-md hover:bg-primary-700/80 transition-colors duration-300 disabled:bg-primary-700/40 disabled:cursor-not-allowed"
      (click)="onDelete()">
      @if (!delete?.isLoading) {
        Supprimer
      }
      @if (delete?.isLoading) {
        <span class="text-white">
          <mat-progress-spinner [diameter]="15" [mode]="'indeterminate'" />
        </span>
      }
    </button>
  </div>
</div>
