<app-auth-card title="Se connecter">
  @let signIn = signIn$ | async;
  <form class="mt-6" (ngSubmit)="onSignIn()" [formGroup]="signInForm">
    <mat-form-field class="w-full">
      <mat-label> Adresse e-mail </mat-label>
      <input id="email" type="email" matInput autocomplete="email" [formControlName]="'email'" />
    </mat-form-field>

    <mat-form-field class="w-full">
      <mat-label> Mot de passe </mat-label>
      <input id="password" matInput type="password" autocomplete="off" [formControlName]="'password'" #passwordField />
      <button
        mat-icon-button
        type="button"
        (click)="passwordField.type === 'password' ? (passwordField.type = 'text') : (passwordField.type = 'password')"
        matSuffix>
        @if (passwordField.type === 'password') {
          <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:eye'"></mat-icon>
        }
        @if (passwordField.type === 'text') {
          <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:eye-slash'"></mat-icon>
        }
      </button>
    </mat-form-field>
    <div class="inline-flex w-full items-center justify-between">
      Mot de passe oublié?
      <a class="text-md font-medium text-primary-500 hover:underline" [routerLink]="['/forgot-password']">
        Réinitialiser
      </a>
    </div>

    <button class="mt-6 w-full" mat-flat-button type="submit" [disabled]="signIn?.isLoading || signInForm.invalid">
      @if (!signIn?.isLoading && !signInForm.invalid) {
        <span> Se connecter </span>
      }
      @if (signIn?.isLoading) {
        <mat-progress-spinner class="text-white" [diameter]="24" [mode]="'indeterminate'" />
      }
    </button>
  </form>
</app-auth-card>
